<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miracle</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10" align="center">
                <a href="#">
                    <img src="~/Img/log.png" />
                </a>
            </div>
        </div>
        <div>
            <hr />
            <div align="center">
                <ul>
                    <li>
                        123
                    </li>
                </ul>
            </div>
            <hr />
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <div style="position:fixed;bottom:0px;z-index:99999;width:100%;text-align: center;">
        <footer>
            <p>&copy; @DateTime.Now.Year 使用版权归王大喵个人所有</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
