
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.all.js"></script>
    <style>
        body {
            margin: 10px;
        }

        .demo-carousel {
            height: 200px;
            line-height: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table class="layui-hide" id="table" lay-filter="test"></table>

    <script>
        layui.use('table', function () {
            var table = layui.table;
            //第一个实例
            table.render({
                elem: '#table'
                , height: 500
                , url: '/Home/nide' //数据接口
                , page: true //开启分页
                , cols: [[ //表头
                    , { field: 'Acc_Id', title: 'ID', width: 80, sort: true, fixed: 'left' }
                    , { field: 'Context', title: '消费内容', width: 120 }
                    , { field: 'money', title: '消费金额', width: 120, sort: true, totalRow: true }
                    , { field: 'Type', title: '消费类型', width: 120, sort: true }
                    , { field: 'turnover', title: '剩余预算', width: 120, sort: true, totalRow: true }
                    , { field: 'remark', title: '备注', width: 150 }
                    , { field: 'CreateTime', title: '消费时间', width: 200 }
                ]]
            });

        });

    </script>

</body>
</html>
